* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', 'Ubuntu Mono', 'Fira Mono';
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
background: #b5e3f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #0b7a9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #006888;
}

/* Responsive Screen */
@media only screen and (max-width: 800px) {

  .title {
      font-size: 2em;
  }

  .test-area {
      width: 80vw;
  }
}

/* BACKGROUND*/

.container {
  height: 100vh;
  background-image: url('space.gif');
  background-size: cover;
  /* background-position-y: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: -1;
}

.title {
  margin-top: 12vh;
  font-size: 3em;
}

/* JAVASCRIPT TEST AREA */

.test-area {
  width: 70vw;
  height: 60vh;
  box-sizing: border-box;
  padding: 2em;
  background-color: rgb(255, 255, 255, 0.8);
  margin: auto;
  text-align: left;
  color: rgb(2, 40, 90);
  overflow: auto;
}

.gridbox {
  display:grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "g1 g2 g3 g4"
  ;
}

.a, .b, .c , .d {
  border-color: black;
  width:70px;
  height:80px;
  font-size:50px;
  text-align:center;
}

.a {
  grid-area:g1;
}

.b {
  grid-area:g2;
  width:70px;
  height:80px;
}

.c {
  grid-area:g3;
  width:70px;
  height:80px;
}

.d {
  grid-area:g4;
  width:70px;
  height:80px;
}


.buttonStyle {
  background-color: rgb(119, 4, 125);
  length:400px;
  width: 200px;
  color: white;
  text-align: center;
  padding: 10px;
  margin:10px;
  margin-bottom: 20px;
}

#BoxText2 {
    border: 2px gray dashed;
    padding: 6px;
    height:300px;
    background-color: #fafafa;
}

.word-display, .word-display-two {
  text-align: center;
  font-size:70px;
}
/*----------------------------------------*/
.gridbox2 {
  display:grid;
  margin-top:20px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "g5 g6 g7 g8"
  ;
}

.e, .f, .g , .h {
  border-color: rgb(194, 119, 119);
  width:70px;
  height:80px;
  font-size:50px;
  text-align:center;
}

.e {
  grid-area:g5;
}

.f {
  grid-area:g6;
}

.g {
  grid-area:g7;
}

.h {
  grid-area:g8;
}

.buttonStyle2 {
  background-color: rgb(71, 164, 240);
  length:400px;
  width: 200px;
  color: white;
  text-align: center;
  padding: 10px;
  margin:10px;
  margin-bottom: 20px;
}

.p1, .p2 {
  font-size:25px;
  line-height:1.5em;
}

